@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ebebeb;
}

.piano{
    background-color: #121212;
    width: 1000px;
    height: 400px;
    margin: 100px auto 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

.controls{
    color:rgba(255, 255, 255, 0.781);
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

h1{
    font-weight: 500;
    font-size: 1.4rem;
}

.switcher{
    width: 50px;
    height: 25px;
    background-color: #333;
    display: flex;
    border-radius: 50px;
    padding: 4px;
}

.switcher__button{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #ddd;
    border-radius: 20px;
}

.switcher--active{
    background-color: #006eff;
    justify-content: flex-end;
}

.checkbox__label{
    display: flex;
    gap: 15px;
}

